%div
	%h1 Elige una comunidad autónoma

	%select#region
		%option{:select=>true} Elige una Comunidad Autónoma
		-@regions.each do |region|
			%option{:value=>"#{region.id}"} #{region.name}
	
	#placeholder{:style=>"width:600px;height:300px;"}
