%div.span-20.prepend-2
	%h1 ¿Dónde van mis impuestos... en mi región?
	%hr
	
	%h2.alt Lorem ipsum AbreDatos
	%hr.space
	
	%h3.alt
		Elige una comunidad autónoma...

		%select#region
			%option{:select=>true} &nbsp;
			-@regions.each do |region|
				%option{:value=>"#{region.id}"} #{region.name}
		%hr

	#graphs
